<!DOCTYPE html>
<html layout:decorate="~{layout}">
  <head>
    <meta charset="UTF-8" />
  </head>
  <body>
    <section class="layout-content" layout:fragment="corpo">
      <nav class="navbar navbar-expand-md bg-light">
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <i class="oi oi-caret-right"></i>
              <span th:text="#{anunciante.listar.label}"></span>
            </li>
          </ul>
          <a
            class="btn btn-primary btn-md"
            th:href="@{/anunciantes/cadastro}"
            role="button"
          >
            <span class="oi oi-plus" title="Cadastro" aria-hidden="true"></span>
            <span th:text="#{anunciante.cadastrar.label}"></span>
          </a>
        </div>
      </nav>

      <div class="container" id="listagem">
        <div th:replace="~{fragments/alert}"></div>

        <div class="table-responsive">
          <table class="table table-striped table-hover table-sm">
            <thead>
              <tr>
                <th class="bg-warning">#</th>
                <th class="bg-warning">Nome</th>
                <th class="bg-warning">Email</th>
                <th class="bg-warning">Telefone</th>
                <th class="bg-warning">CPF</th>
                <th class="bg-warning">Endereço</th>
                <th class="bg-warning">Tipo</th>
                <th class="bg-warning">Data Cadastro</th>
                <th class="bg-warning">Ações</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="anunciante : ${anunciantes}">
                <td th:text="${anunciante.id}"></td>
                <td th:text="${anunciante.nome}"></td>
                <td th:text="${anunciante.email}"></td>
                <td th:text="${anunciante.telefone}"></td>
                <td th:text="${anunciante.cpf}"></td>
                <td th:text="${anunciante.endereco}"></td>
                <td th:text="${anunciante.tipoPessoa}"></td>
                <td th:text="${anunciante.dataCadastro}"></td>
                <td>
                  <a
                    th:href="@{'/anunciantes/editar/' + ${anunciante.id}}"
                    class="btn btn-sm btn-info"
                    >Editar</a
                  >
                  <a
                    th:href="@{'/anunciantes/remover/' + ${anunciante.id}}"
                    class="btn btn-sm btn-danger"
                    >Remover</a
                  >
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div th:replace="~{fragments/modal::modal}"></div>
    </section>
  </body>
</html>
