<!DOCTYPE html>
<html layout:decorate="~{layout}">
  <head>
    <meta charset="UTF-8" />
  </head>
  <body>
    <section class="layout-content" layout:fragment="corpo">
      <nav class="navbar navbar-expand-md bg-light">
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <i class="oi oi-caret-right"></i>
              <span th:text="#{carro.listar.label}"></span>
            </li>
          </ul>
          <a
            class="btn btn-primary btn-md"
            th:href="@{/carros/cadastro}"
            role="button"
          >
            <span class="oi oi-plus" title="Cadastro" aria-hidden="true"></span>
            <span th:text="#{carro.cadastrar.label}"></span>
          </a>
        </div>
      </nav>

      <div class="container" id="listagem">
        <div th:replace="~{fragments/alert}"></div>

        <div class="table-responsive">
          <table class="table table-striped table-hover table-sm">
            <thead>
              <tr>
                <th class="bg-warning">#</th>
                <th class="bg-warning">Marca</th>
                <th class="bg-warning">Modelo</th>
                <th class="bg-warning">Ano</th>
                <th class="bg-warning">Cor</th>
                <th class="bg-warning">Preço</th>
                <th class="bg-warning">KM</th>
                <th class="bg-warning">Câmbio</th>
                <th class="bg-warning">Combustível</th>
                <th class="bg-warning">Placa</th>
                <th class="bg-warning">Anunciante</th>
                <th class="bg-warning">Ações</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="carro : ${carros}">
                <td th:text="${carro.id}"></td>
                <td th:text="${carro.marca}"></td>
                <td th:text="${carro.modelo}"></td>
                <td th:text="${carro.ano}"></td>
                <td th:text="${carro.cor}"></td>
                <td th:text="${carro.preco}"></td>
                <td th:text="${carro.quilometragem}"></td>
                <td th:text="${carro.cambio}"></td>
                <td th:text="${carro.combustivel}"></td>
                <td th:text="${carro.placa}"></td>
                <td th:text="${carro.anunciante.nome}"></td>
                <td>
                  <a
                    th:href="@{'/carros/editar/' + ${carro.id}}"
                    class="btn btn-sm btn-info"
                    >Editar</a
                  >
                  <a
                    th:href="@{'/carros/remover/' + ${carro.id}}"
                    class="btn btn-sm btn-danger"
                    >Remover</a
                  >
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div th:replace="~{fragments/modal::modal}"></div>
    </section>
  </body>
</html>
