<!DOCTYPE html>
<html layout:decorate="~{layout}">
  <head> </head>
  <body>
    <section class="layout-content" layout:fragment="corpo">
      <div class="container" style="text-align: center">
        <h1 th:text="#{title.label}">Livraria Virtual</h1>
        <img alt="" th:src="@{/image/image.png}" style="width: 500px" />
        <br /><br />
        <a class="btn btn-primary" th:href="@{/carros/lista}">Carros</a>
        <a class="btn btn-primary" th:href="@{/anunciantes/lista}"
          >Anunciantes</a
        >
      </div>
    </section>
  </body>
</html>
